/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-transform: none;
}
@font-face {
    font-family: 'sousesregular';
    src: url('fonts/souses-webfont.eot');
    src: url('fonts/souses-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/souses-webfont.woff2') format('woff2'),
         url('fonts/souses-webfont.woff') format('woff'),
         url('fonts/souses-webfont.ttf') format('truetype'),
         url('fonts/souses-webfont.svg#sousesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;   
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    overflow-x:hidden; 
}
.titulo{
    font-family: 'sousesregular';
    padding: 0px !important;
    margin-top: -50px;
    font-weight: 100;
    margin-right: 15%;
    font-size: 180%;
    color: #fff;
}
/* Portrait layout (default) */
.app {

}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    display: none;
}
.amplio{
    width: 90% !important;
    margin-left: 5% !important;
}
.cajaccion{
    position: fixed;
    width: 85%;
    height: 75%;
    display: block;
    margin-top:100px;
    float: left;
    margin-left: 7.5%;
}
.cajaccion article{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 280%;
    padding-top: 30px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 280%;
    padding-top: 30px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 280%;
    padding-top: 30px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion a{
    text-decoration: none;
    color: #000;
}
.cajaccion a:active{
    text-decoration: none;
    color: #fff;
}
.cajaccion a:hover{
    text-decoration: none;
    color: #fff;
}
#busqueda{
    height: 15%;
    margin-bottom: 2%;
    width: 80%;
    background: #D9D9D9;
    font-size: 280%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;   
    border:none;
}
#busqueda:focus{
    height: 15%;
    margin-bottom: 2%;
    width: 80%;
    background: #869791;
    font-size: 280%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;
}
#busq{
    height: 20%;
    margin-bottom: 2%;
    width: 10%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 5px;
    padding-left: 2%;
    box-sizing: border-box;   
    border:none;
    border-radius: 5%
}
#busq:hover{
    height: 20%;
    margin-bottom: 2%;
    width: 10%;
    background: #869791;
    font-size: 200%;
    padding-top: 5px;
    padding-left: 2%;
    box-sizing: border-box;   
    border:none;
    border-radius: 5%
}
.texto{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
}
.terminos{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
    overflow-x:hidden; 
}
label{
    float: left;
    width: 100% !important;
    font-size: 150% !important;
}
#nombre, #asunto, #email, #contra, #carnet{
    margin-bottom: 3%;
    width: 100%;
    float: left;
    font-size: 150% !important;
    height: 50px !important;
}
#mensaje{
    margin-bottom: 3%;
    width: 100%;
    height: 60px !important;
    font-size: 150% !important;
}
#reset{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    background: #f29200;
    margin-right: 10px !important;
}
#reset:hover{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarr{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    background: #3caa37;
    margin-right: 10px !important;
}
#enviarr:hover{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarrr{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    color: #fff;
    background: #898989;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
.terminos{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
}
    .app {
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

}

/* Note: Design for a width of 480px */

@media only screen and (min-width: 300px) and (max-width: 767px) { 
.terminos{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
} 
.cajaccion article{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 30px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 30px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 30px;
    padding-left: 10%;
    box-sizing: border-box;
}

}
@media only screen and (max-height: 550px) and (max-width: 1500px) {
.terminos{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
}
.cajaccion{
    position: fixed;
    width: 90%;
    height: 75%;
    display: block;
    margin-top:80px;
    float: left;
    margin-left: 5%;
}
.cajaccion article{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}

.texto{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 2% !important;
}
label{
    float: left;
    width: 100% !important;
    font-size: 150% !important;
}
#nombre, #asunto, #email, #contra, #carnet{
    margin-bottom: 2%;
    width: 100%;
    float: left;
    font-size: 150% !important;
    height: 20px !important;
}
#mensaje{
    margin-bottom: 1%;
    width: 100%;
    height: 30px !important;
    font-size: 150% !important;
}
#enviarr{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    margin-right: 10px !important;
    background: #3caa37;
}
#enviarr:hover{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#reset{

    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    margin-right: 10px !important;
    background: #f29200;
}
#reset:hover{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarrr{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}
}

@media only screen and (min-height: 1800px) and (min-width: 1000px) {

#busq{
      font-size: 350%;
}
#busq:hover{
      font-size: 350%;
}

.terminos{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
}
.cajaccion{
    position: fixed;
    width: 90%;
    height: 75%;
    display: block;
    margin-top:80px;
    float: left;
    margin-left: 5%;
}
.cajaccion article{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}

.texto{
    background: none !important;
    padding-left: 1% !important;
    font-size: 180% !important;
    margin-bottom: 2% !important;
}
label{
    float: left;
    width: 100% !important;
    font-size: 180% !important;
}
#nombre, #asunto, #email, #contra, #carnet{
    margin-bottom: 2%;
    width: 100%;
    float: left;
    font-size: 150% !important;
    height: 90px !important;
}
#mensaje{
    margin-bottom: 1%;
    width: 100%;
    height: 130px !important;
    font-size: 150% !important;
}
#enviarr{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 90px !important;
    border: none;
    margin-right: 10px !important;
    background: #3caa37;
}
#enviarr:hover{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 90px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#reset{

    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    margin-right: 10px !important;
    background: #f29200;
}
#reset:hover{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarrr{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}

#enviarrr{
    font-size: 190% !important;
    margin-top: 7%;
    width: 30%;
    height: 80px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 190% !important;
    margin-top: 7%;
    width: 30%;
    height: 80px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#busqueda{
    margin-bottom: 2%;
    width: 80%;
    background: #D9D9D9;
    font-size: 370%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;   
    border:none;
}
#busqueda:focus{
    margin-bottom: 2%;
    width: 80%;
    background: #869791;
    font-size: 370%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;
}
}
