/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
ROJO e20612
VERDE 3caa37
azul 0f70b7
naranja f29200
gris dadada
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-transform: none;
}
@font-face {
    font-family: 'sousesregular';
    src: url('fonts/souses-webfont.eot');
    src: url('fonts/souses-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/souses-webfont.woff2') format('woff2'),
         url('fonts/souses-webfont.woff') format('woff'),
         url('fonts/souses-webfont.ttf') format('truetype'),
         url('fonts/souses-webfont.svg#sousesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;   
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    overflow-x:hidden; 
}
#contienecomprador{
    height: 100%;
    width: 100%;
}
.botngrande{
    background: #f29200;
    width: 90%;
    height: 50px;
    text-align: center;
    font-size: 150%;
    margin-top: 30px;
    padding-top: 10px;
}
.botngrande:hover{
    background: #000;
    color: #fff;
}
#contienecomprador .btn{
  border: none !important;
  margin-top: 0px !important;
  height: 40% !important;
  width: 40% !important;
  margin-right: 5% !important;
  font-size: 20px;
  color: #fff;
}
#contienecomprador section{
    height: 19%;
    width: 100%;
}
#contienecomprador label{
    font-size: 30px !important;
    margin-bottom: 20px;
}

#contienecomprador #titulo,#comprador,#telefono,#correo{
    font-size: 20px;
}
.escondido{
    display: none;
}
.visible{
    display: block;
}
#sesionon article{
    height: 65px;
}
#formularionuevoproducto textarea{
    width: 100%;
    height: 200px;
}
.titulo{
    font-family: 'sousesregular';
    padding: 0px !important;
    margin-top: -50px;
    font-weight: 100;
    margin-right: 15%;
    font-size: 180%;
    color: #fff;
}
/* Portrait layout (default) */
.app {

}
.infromacion{
    font-size: 150%;
}
.contienecomentario{
    width: 90%;
    margin-bottom: 20%;
    background: #dadada;
    font-size: 150%;
    display: box; 
    box-orient:horizontal;
    padding-bottom: 60px;
    padding-left: 10px;
}
.contienecomentario textarea{
    width: 90%;
    background: #fafafa;
    font-size: 150%;
    display: box; 
    box-orient:horizontal;
    padding-bottom: 60px;
    padding-left: 10px;
}
.contienecomentario b{
    font-size: 190%;
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    display: none;
}
    #cargando{
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando img{
        margin-top: 35%;
        margin-left: 40%;
        width:20%;
    }

    #cargando2{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando2 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }

    #cargando22{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando22 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
    #cargando3{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando3 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
    #cargando4{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando4 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
    #cargando5{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando5 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
    #cargando6{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando6 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
    #cargando7{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando7 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
    #cargando8{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando8 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
    #cargando9{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando9 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
    #cargando10{
        width: 100%;
        height: 100% !important;
        background-color: black;
        opacity: 0.6;
        z-index: 100;
        position: absolute;
    }
    #cargando10 img{
        margin-top: 15%;
        margin-left: 29%;
        width:35%;
        height:50%;
    }
.amplio{
    width: 90% !important;
    margin-left: 1% !important;
    height: 95% !important;
    padding-bottom: 190px;
}
.cajaccion{
    position: fixed;
    width: 85%;
    height: 95%;
    margin-top:100px;
    float: left;
    margin-left: 7.5%;
}
.cajaperfil{
    position: fixed;
    width: 95%;
    height: 85%;
    border-radius: 5px;
    margin-top:100px;
    float: left;
    border: 2px solid grey;
    margin-left: 7.5%;   
}
.datoperfil{
    width: 100%;
    height: 10.11%;
    box-sizing: border-box;
    padding-left: 2%;
    border-bottom: 1px solid grey;
}
.botonrep{
    width:100%;
    height:15%;
    font-size: 200%;
    background: #dadada;
    margin-top: 20%;
    padding-top: 20%;
}
.botonrep:hover{
    width:100%;
    height:15%;
    font-size: 200%;
    background: #000;
    color: #fff;
    margin-top: 20%;
    padding-top: 20%;
}
.botonrepp{
    width:100%;
    height:15%;
    font-size: 40px;
    margin-top: 20%;
    padding-top: 20%;
    background: #fff;
}
.botonrepp:hover{
    color: #000;
}
.tituloperfil{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}
.datop{
    margin-top: 2px;
    font-size: 16px;
    color: grey; 
}
.imagenpublicacion{
    width: 45%;
    height: 160px;
    display: inline-block;
    position: relative;
}
.imagenpublicacion img{
    width: 100%;

    height: 100%;
}
.imagenpublicacion2{
    width: 100%;
    height: 160px;
    position: relative;
    display: inline-block;
}
.imagenpublicacion2 img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.botonimagen{
    width: 100% !important;
    height: 100px !important;

}
.cajapublica{
    position: fixed;
    width: 95%;
    height: 80%;
    border-radius: 5px;
    margin-top:100px;
    float: left;
    overflow: scroll;
    margin-left: 2%;   
}
.cajaformulario{
    position: fixed;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    margin-top:16%;
    float: left;
    overflow: scroll;
    margin-left: 2%;   
}
.cajaformulario label{
    width: 100%;
    height: 40px;
    font-size: 22px !important;
    margin-top: 10px;
}
.cajaformulario input{
    width: 100%;
    height: 40px;
    font-size: 20px !important;
    margin-bottom: 20px;
}
.cajaformulario input[type="FILE"]{
    width: 65%;
    height: 100px;
    margin-bottom: 20px;
    border: none !important;
    background: none;
    font-size: 40px !important;
    box-sizing: border-box;
}

.cajaccion label{
    width: 90%;
    height: 40px;
    font-size: 22px !important;
    margin-top: 10px;
}
.cajaccion input{
    width: 90%;
    height: 40px;
    font-size: 20px !important;
    margin-bottom: 20px;
}
.cajaccion input[type="FILE"]{
    width: 65%;
    height: 100px;
    margin-bottom: 20px;
    border: none !important;
    background: none;
    font-size: 40px !important;
    box-sizing: border-box;
}
.cajaformulario select{
    width: 100%;
    height: 40px;
    font-size: 20px !important;
    margin-bottom: 20px;
}
.cajaccion select{
    width: 90%;
    height: 40px;
    font-size: 20px !important;
    margin-bottom: 20px;
}
.btn{
    border: none;
    margin-top: 50px;
    width: 40% !important;
    margin-right: 5%;
}
.btn-success{
    background:#3caa37;
}
.btn-warning{
    background:#f29200;
}
.btn-danger{
    background:#e20612;
    margin-bottom: 60px !important;
}
.publicacion{
    margin-bottom: 70%;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}
.publicacion .imagenpub{
    width: 50%;
    height: 50%;
    display: block;
    margin-bottom: 20px;
}
.imagenpub img{
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 50.55%;
}
.tutulopublicar{
    margin-top: 2px;
    font-size: 25px !important;
    font-weight: 600;
}
.publicont{
    text-align: justify;
    margin-top: 6px;
    font-size: 22px !important;
    margin-bottom:40px;

}
#botonpub{
    margin-top: -10px;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 200%;
    background: #0f70b7;
    color: #fff;
}
#botonpub:hover{
    background: #0f0f0f;
    color: #fff;
}
#botongo{
    margin-top: -10px;
    width: 45%;
    height: 50px;
    border: none;
    font-size: 100%;
    background: #f29200;
    color: #fff;
}
#botongo:hover{
    background: #0f0f0f;
    color: #fff;
}
#procesarpagoboton{
    margin-top: -10px !important;
    width: 100% !important;
    height: 50px !important;
    border: none !important;
    font-size: 200% !important;
    background: #f29200 !important;
    color: #fff !important;
}
#procesarpagoboton:hover{
    background: #0f0f0f !important;
    color: #fff !important;
}
#procesarpagobotonn{
    margin-top: -10px !important;
    width: 100% !important;
    border: none !important;
    font-size: 200% !important;
    background: #f29200 !important;
    color: #fff !important;
}
#procesarpagobotonn:hover{
    background: #0f0f0f !important;
    color: #fff !important;
}
.cajaccion article{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 280%;
    padding-top: 25px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 280%;
    padding-top: 25px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 280%;
    padding-top: 25px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion a{
    text-decoration: none;
    color: #000;
}
.cajaccion a:active{
    text-decoration: none;
    color: #fff;
}
.cajaccion a:hover{
    text-decoration: none;
    color: #fff;
}
#busqueda{
    height: 15%;
    margin-bottom: 2%;
    width: 80%;
    background: #D9D9D9;
    font-size: 280%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;   
    border:none;
}
#busqueda:focus{
    height: 15%;
    margin-bottom: 2%;
    width: 80%;
    background: #869791;
    font-size: 280%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;
}
#busq{
    height: 20%;
    margin-bottom: 2%;
    width: 10%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 5px;
    padding-left: 2%;
    box-sizing: border-box;   
    border:none;
    border-radius: 5%
}
#busq:hover{
    height: 20%;
    margin-bottom: 2%;
    width: 10%;
    background: #869791;
    font-size: 200%;
    padding-top: 5px;
    padding-left: 2%;
    box-sizing: border-box;   
    border:none;
    border-radius: 5%
}
.texto{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
}
.terminos{
    background: none !important;
    padding-left: 10% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
    overflow-x:hidden; 
    padding-bottom: 190px;
}
label{
    float: left;
    width: 100% !important;
    font-size: 150% !important;
}
#nombre1, #asunto1, #email1, #contra1, #carnet1{
    margin-bottom: 3%;
    width: 90%;
    float: left;
    font-size: 150% !important;
    height: 50px !important;
}
#mensaje{
    margin-bottom: 3%;
    width: 100%;
    height: 60px !important;
    font-size: 150% !important;
}
#reset{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    background: #f29200;
    margin-right: 10px !important;
    margin-top: 30px;
    margin-bottom: 150px;
}
#reset:hover{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarr{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    background: #3caa37;
    margin-right: 10px !important;
}
#enviarr:hover{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarrr{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 150% !important;
    margin-top: 5%;
    width: 40%;
    height: 40px !important;
    border: none;
    color: #fff;
    background: #898989;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
.terminos{
    background: none !important;
    padding-left: 10% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
    padding-bottom: 190px;
}
    .app {
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

}

/* Note: Design for a width of 480px */

@media only screen and (min-width: 300px) and (max-width: 767px) { 
.terminos{
    background: none !important;
    padding-left: 10% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
    padding-bottom: 190px;
} 

.cajaccion article{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 25px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 25px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 15%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 25px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaperfil{
    position: fixed;
    width: 85%;
    height: 85%;
    border-radius: 5px;
    margin-top:100px;
    float: left;
    border: 2px solid grey;
    margin-left: 7.5%;   
}
.datoperfil{
    width: 100%;
    height: 10.11%;
    box-sizing: border-box;
    padding-left: 2%;
}

.tituloperfil{
    margin-top: 5px;
    font-size: 16px !important;
    font-weight: 600;
}
.datop{
    margin-top: 2px;
    font-size: 14px !important;
    color: grey; 
}
}
@media only screen and (max-height: 550px) and (max-width: 1500px) {
.infromacion{
    font-size: 300%;
}

.botonrep{
    width:100%;
    height:15%;
    font-size: 500%;
    background: #dadada;
    margin-top: 20%;
    padding-top: 20%;
}
.botonrep:hover{
    width:100%;
    height:15%;
    font-size: 500%;
    background: #000;
    color: #fff;
    margin-top: 20%;
    padding-top: 20%;
}


.imagenpublicacion img{
    width: 100%;

    height: 100%;
}
.botonimagen{
    width: 100% !important;
    height: 250px !important;

}
.terminos{
    background: none !important;
    padding-left: 10% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
    padding-bottom: 190px;
}
.cajaccion{
    position: fixed;
    width: 90%;
    height: 95%;
    margin-top:80px;
    float: left;
    margin-left: 5%;
    overflow: scroll !important;
}
.cajaperfil{
    position: fixed;
    width: 85%;
    height: 70%;
    border-radius: 5px;
    margin-top:100px;
    float: left;
    border: 2px solid grey;
    margin-left: 7.5%;   
}
.datoperfil{
    width: 100%;
    height: 10.4%;
    box-sizing: border-box;
    padding-left: 2%;
}

.tituloperfil{
    margin-top: 2px;
    font-size: 14px !important;
    font-weight: 600;
}
.datop{
    margin-top: 2px;
    font-size: 10px !important;
    color: grey; 
}
.cajaccion article{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}

.texto{
    background: none !important;
    padding-left: 1% !important;
    font-size: 150% !important;
    margin-bottom: 2% !important;
}
label{
    float: left;
    width: 100% !important;
    font-size: 150% !important;
}
#nombre1, #asunto1, #email1, #contra1, #carnet1{
    margin-bottom: 2%;
    width: 90%;
    float: left;
    font-size: 150% !important;
    height: 20px !important;
}
#mensaje{
    margin-bottom: 1%;
    width: 100%;
    height: 30px !important;
    font-size: 150% !important;
}
#enviarr{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    margin-right: 10px !important;
    background: #3caa37;
}
#enviarr:hover{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#reset{

    font-size: 150% !important;
    margin-top: 1%;
    width: 40%;
    height: 30px !important;
    border: none;
    margin-right: 10px !important;
    background: #f29200;
    margin-top: 30px;
    margin-bottom: 150px;
}
#reset:hover{
    font-size: 150% !important;
    margin-top: 1%;
    width: 40%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarrr{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 150% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}
}

@media only screen and (min-height: 1800px) and (min-width: 1000px) {
.infromacion{
    font-size: 300%;
}
.botonrep{
    width:100%;
    height:15%;
    font-size: 500%;
    background: #dadada;
    margin-top: 20%;
    padding-top: 20%;
}
.botonrep:hover{
    width:100%;
    height:15%;
    font-size: 500%;
    background: #000;
    color: #fff;
    margin-top: 20%;
    padding-top: 20%;
}

.cajapublica{
    position: fixed;
    width: 95%;
    height: 80%;
    border-radius: 5px;
    margin-top:180px;
    float: left;
    overflow: scroll;
    margin-left: 2%;   
}
.cajaformulario{
    position: fixed;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    margin-top:16%;
    float: left;
    overflow: scroll;
    margin-left: 2%;   
}
.cajaformulario label{
    width: 100%;
    height: 100px;
    font-size: 70px !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajaformulario input{
    width: 100%;
    height: 90px;
    font-size: 60px !important;
    margin-bottom: 100px;
    border: 1px solid black;
    background: #fafafa;
}
.cajaformulario select{
    width: 100%;
    height: 90px;
    border: 1px solid black;
    background: #fafafa;
    font-size: 60px !important;
    margin-bottom:100px;
}
.cajaccion select{
    width: 90%;
    height: 90px;
    border: 1px solid black;
    background: #fafafa;
    font-size: 60px !important;
    margin-bottom:100px;
}
.cajaccion label{
    width: 90%;
    height: 100px;
    font-size: 70px !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajaccion input{
    width: 90%;
    height: 90px;
    font-size: 60px !important;
    margin-bottom: 100px;
    border: 1px solid black;
    background: #fafafa;
}
.btn{
    margin-top: 50px;
    border: none !important;
    width: 40% !important;
    margin-right: 5%;
    height: 200px !important;
    font-size: 80px !important;
}
.btn-success{
    border: none !important;
    background:#3caa37 !important;
}
.btn-warning{
    border: none !important;
    background:#f29200 !important;
}
.btn-danger{    
    border: none !important;
    background:#e20612 !important;
    margin-bottom: 60px !important;
}
.cajaformulario input[type="FILE"]{
    width: 55%;
    height: 100px;
    margin-bottom: 20px;
    border: none !important;
    background: none;
    font-size: 100px !important;
    box-sizing: border-box;
}
.cajaccion input[type="FILE"]{
    width: 55%;
    height: 100px;
    margin-bottom: 20px;
    border: none !important;
    background: none;
    font-size: 100px !important;
    box-sizing: border-box;
}
.publicacion{
    margin-bottom: 43%;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}
.publicacion .imagenpub{
    width: 50%;
    height: 50%;
    display: block;
    margin-bottom: 20px;
}
.imagenpub img{
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 50.55%;
}
.tutulopublicar{
    margin-top: 2px;
    font-size: 50px !important;
    font-weight: 600;
}
.publicont{
    text-align: justify;
    margin-top: 6px;
    font-size: 50px !important;
    margin-bottom:40px;

}
#botonpub{
    margin-top: -10px;
    width: 100%;
    height: 100px;
    border: none;
    font-size: 500%;
    background: #0f70b7;
    color: #fff;
}
#botonpub:hover{
    background: #0f0f0f;
    color: #fff;
}
#botongo{
    margin-top: -10px;
    width: 45%;
    height: 150px;
    border: none;
    font-size: 100%;
    background: #f29200;
    color: #fff;
}
#botongo:hover{
    background: #0f0f0f;
    color: #fff;
}
#sesionon article{
    height: 160px;
}

#busq{
      font-size: 350%;
}
#busq:hover{
      font-size: 350%;
}

.terminos{
    background: none !important;
    padding-left: 10% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
    padding-bottom: 190px;
}
.cajaccion{
    position: fixed;
    width: 90%;
    height: 95%;
    margin-top:80px;
    float: left;
    margin-left: 5%;
}
.cajaccion article{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}

.texto{
    background: none !important;
    padding-left: 1% !important;
    font-size: 180% !important;
    margin-bottom: 2% !important;
}
label{
    float: left;
    width: 100% !important;
    font-size: 180% !important;
}
#nombre1, #asunto1, #email1, #contra1, #carnet1{
    margin-bottom: 2%;
    width: 90%;
    float: left;
    font-size: 150% !important;
    height: 90px !important;
}
#mensaje{
    margin-bottom: 1%;
    width: 100%;
    height: 130px !important;
    font-size: 150% !important;
}
#enviarr{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 90px !important;
    border: none;
    margin-right: 10px !important;
    background: #3caa37;
}
#enviarr:hover{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 90px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#reset{

    font-size: 180% !important;
    margin-top: 1%;
    width: 40%;
    height: 90px !important;
    border: none;
    margin-right: 10px !important;
    background: #f29200;
    margin-top: 30px !important;
    margin-bottom: 150px;
}
#reset:hover{
    font-size: 180% !important;
    margin-top: 1%;
    height: 90px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarrr{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}

#enviarrr{
    font-size: 190% !important;
    margin-top: 7%;
    width: 30%;
    height: 80px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 190% !important;
    margin-top: 7%;
    width: 30%;
    height: 80px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#busqueda{
    margin-bottom: 2%;
    width: 80%;
    background: #D9D9D9;
    font-size: 370%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;   
    border:none;
}
#busqueda:focus{
    margin-bottom: 2%;
    width: 80%;
    background: #869791;
    font-size: 370%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;
}
.cajaperfil{
    position: fixed;
    width: 85%;
    height: 80%;
    border-radius: 5px;
    margin-top:200px;
    float: left;
    border: 2px solid grey;
    margin-left: 7.5%;   
}
.datoperfil{
    width: 100%;
    height: 11%;
    box-sizing: border-box;
    padding-left: 2%;
}

.tituloperfil{
    margin-top: 2px;
    font-size: 45px !important;
    font-weight: 600;
}
.datop{
    margin-top: 2px;
    font-size: 38px !important;
    color: grey; 
}
}
@media only screen and (min-height: 1000px) and (min-width: 1800px) {

.datoperfil{
    width: 100%;
    height: 10.5%;
    box-sizing: border-box;
    padding-left: 2%;
}

.tituloperfil{
    margin-top: 2px;
    font-size: 45px !important;
    font-weight: 600;
}
.datop{
    margin-top: 2px;
    font-size: 38px !important;
    color: grey; 
}
.cajapublica{
    position: fixed;
    width: 95%;
    height: 80%;
    border-radius: 5px;
    margin-top:180px;
    float: left;
    overflow: scroll;
    margin-left: 2%;   
}
.cajaformulario{
    position: fixed;
    width: 95%;
    height: 80%;
    border-radius: 5px;
    margin-top:16%;
    float: left;
    overflow: scroll;
    margin-left: 2%;   
}

.publicacion{
    margin-bottom: 20%;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}
.publicacion .imagenpub{
    width: 50%;
    height: 50%;
    display: block;
    margin-bottom: 20px;
}
.imagenpub img{
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 50.55%;
}
.tutulopublicar{
    margin-top: 2px;
    font-size: 50px !important;
    font-weight: 600;
}
.publicont{
    text-align: justify;
    margin-top: 6px;
    font-size: 40px !important;
    margin-bottom:40px;

}
#botonpub{
    margin-top: -10px;
    width: 100%;
    height: 100px;
    border: none;
    font-size: 500%;
    background: #0f70b7;
    color: #fff;
}
#botonpub:hover{
    background: #0f0f0f;
    color: #fff;
}
#botongo{
    margin-top: -10px;
    width: 45%;
    height: 150px;
    border: none;
    font-size: 100%;
    background: #f29200;
    color: #fff;
}
#botongo:hover{
    background: #0f0f0f;
    color: #fff;
}

}
@media only screen and (min-height: 1200px) and (max-width: 800px) {
.cajapublica{
    position: fixed;
    width: 95%;
    height: 80%;
    border-radius: 5px;
    margin-top:180px;
    float: left;
    overflow: scroll;
    margin-left: 2%;   
}
.cajaformulario{
    position: fixed;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    margin-top:16%;
    float: left;
    overflow: scroll;
    margin-left: 2%;   
}

.cajaformulario label{
    width: 100%;
    height: 100px;
    font-size: 50px !important;
    margin-top: 10px;
}
.cajaformulario input{
    width: 100%;
    height: 90px;
    font-size: 40px !important;
    margin-bottom: 20px;
    border: 1px solid black;
    background: #fafafa;
}
.cajaformulario select{
    width: 100%;
    height: 90px;
    border: 1px solid black;
    background: #fafafa;
    font-size: 40px !important;
    margin-bottom: 20px;
}
.cajaccion select{
    width: 90%;
    height: 90px;
    border: 1px solid black;
    background: #fafafa;
    font-size: 40px !important;
    margin-bottom: 20px;
}
.cajaccion label{
    width: 90%;
    height: 100px;
    font-size: 50px !important;
    margin-top: 10px;
}
.cajaccion input{
    width: 90%;
    height: 90px;
    font-size: 40px !important;
    margin-bottom: 20px;
    border: 1px solid black;
    background: #fafafa;
}
.btn{
    margin-top: 50px;
    border: none !important;
    width: 40% !important;
    margin-right: 5%;
    height: 200px !important;
    font-size: 80px !important;
}
.btn-success{
    border: none !important;
    background:#3caa37 !important;
}
.btn-warning{
    border: none !important;
    background:#f29200 !important;
}
.btn-danger{    
    border: none !important;
    background:#e20612 !important;
    margin-bottom: 60px !important;
}
.cajaformulario input[type="FILE"]{
    width: 50%;
    height: 100px;
    margin-bottom: 20px;
    border: none !important;
    background: none;
    font-size: 60px !important;
    box-sizing: border-box;
}
.cajaccion input[type="FILE"]{
    width: 50%;
    height: 100px;
    margin-bottom: 20px;
    border: none !important;
    background: none;
    font-size: 60px !important;
    box-sizing: border-box;
}
.publicacion{
    margin-bottom: 70%;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}
.publicacion .imagenpub{
    width: 50%;
    height: 50%;
    display: block;
    margin-bottom: 20px;
}
.imagenpub img{
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 50.55%;
}
.tutulopublicar{
    margin-top: 2px;
    font-size: 50px !important;
    font-weight: 600;
}
.publicont{
    text-align: justify;
    margin-top: 6px;
    font-size: 40px !important;
    margin-bottom:70px;

}
#botonpub{
    margin-top: -10px;
    width: 100%;
    height: 100px;
    border: none;
    font-size: 500%;
    background: #0f70b7;
    color: #fff;
}
#botonpub:hover{
    background: #0f0f0f;
    color: #fff;
}
#botongo{
    margin-top: -10px;
    width: 45%;
    height: 150px;
    border: none;
    font-size: 100%;
    background: #f29200;
    color: #fff;
}
#botongo:hover{
    background: #0f0f0f;
    color: #fff;
}
#sesionon article{
    height: 100px;
}

#busq{
      font-size: 350%;
}
#busq:hover{
      font-size: 350%;
}

.terminos{
    background: none !important;
    padding-left: 10% !important;
    font-size: 150% !important;
    margin-bottom: 10% !important;
    overflow: scroll;
    height: 100% !important;
    padding-bottom: 190px;
}
.cajaccion{
    position: fixed;
    width: 90%;
    height: 95%;
    margin-top:80px;
    float: left;
    margin-left: 5%;
}
.cajaccion article{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #D9D9D9;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:hover{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
.cajaccion article:active{
    height: 17%;
    margin-bottom: 2%;
    width: 100%;
    background: #869791;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}

.texto{
    background: none !important;
    padding-left: 1% !important;
    font-size: 180% !important;
    margin-bottom: 2% !important;
}
label{
    float: left;
    width: 100% !important;
    font-size: 180% !important;
}
#nombre1, #asunto1, #email1, #contra1, #carnet1{
    margin-bottom: 2%;
    width: 90%;
    float: left;
    font-size: 150% !important;
    height: 90px !important;
}
#mensaje{
    margin-bottom: 1%;
    width: 100%;
    height: 130px !important;
    font-size: 150% !important;
}
#enviarr{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 90px !important;
    border: none;
    margin-right: 10px !important;
    background: #3caa37;
}
#enviarr:hover{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 90px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#reset{

    font-size: 180% !important;
    margin-top: 1%;
    width: 40%;
    height: 90px !important;
    border: none;
    margin-right: 10px !important;
    background: #f29200;
    margin-top: 30px;
    margin-bottom: 150px;
}
#reset:hover{
    font-size: 180% !important;
    margin-top: 1%;
    width: 40%;
    height: 90px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#enviarrr{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 180% !important;
    margin-top: 1%;
    width: 30%;
    height: 30px !important;
    border: none;
    color: #fff;
    background: #898989;
}

#enviarrr{
    font-size: 190% !important;
    margin-top: 7%;
    width: 30%;
    height: 80px !important;
    border: none;
    background: #0f70b7;
}
#enviarrr:hover{
    font-size: 190% !important;
    margin-top: 7%;
    width: 30%;
    height: 80px !important;
    border: none;
    color: #fff;
    background: #898989;
}
#busqueda{
    margin-bottom: 2%;
    width: 80%;
    background: #D9D9D9;
    font-size: 370%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;   
    border:none;
}
#busqueda:focus{
    margin-bottom: 2%;
    width: 80%;
    background: #869791;
    font-size: 370%;
    padding-top: 5px;
    padding-left: 5%;
    box-sizing: border-box;
}
.cajaperfil{
    position: fixed;
    width: 85%;
    height: 80%;
    border-radius: 5px;
    margin-top:200px;
    float: left;
    border: 2px solid grey;
    margin-left: 7.5%;   
}
.datoperfil{
    width: 100%;
    height: 11%;
    box-sizing: border-box;
    padding-left: 2%;
}

.tituloperfil{
    margin-top: 2px;
    font-size: 45px !important;
    font-weight: 600;
}
.datop{
    margin-top: 2px;
    font-size: 38px !important;
    color: grey; 
}
}
@media only screen and (max-height: 750px) and (max-width: 1300px) {
.cajaccion{
    overflow: scroll;
}
}
@media only screen and (min-height: 1136px) and (max-width: 640px) {

}