.cerrador{
	position: absolute;
	width:40%;
	height: 91.55%;
	right: -100%;
	top:8.45%;
	display: none;
	background-color: #000;
	opacity: 0.5;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	z-index: 700;
}
header .menu2 {
	width:60%;
	max-width:1000px;
	margin:60px auto;
	background:#979797;
	overflow-y: scroll;
	z-index: 90000;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
	z-index: 90000;
	margin-left: -40px;
}
 
header nav ul li {
	float:left;
	text-align: center;
}
 
header nav ul li a {
	color:#fff;
	padding:20px 0px;
	display:block;
	text-decoration:none;
	z-index: 90000;
}
header nav ul li span {
	padding: 10px;
}
header nav ul li h1 {
	margin:20px;
	font-size: 200% !important;
}
header nav ul li a:active {
	background:#000;
}
header nav ul li a: {
	background:#000;
}
.listainicio{
	display: none;
}

.menu2{
	display:block;
	z-index: 200000;
	left: -100%;
}
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	z-index: 200000;
	}
 
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar{
		position:fixed;
		display:block;
		float: left;
		top: -2px;
		background-color:orange;
		width:100%;
		z-index:1;
		height:71px;
	z-index: 800000;
	box-shadow: 1px 1px 5px black;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:5px;
		background:orange;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:30px;
	}
 
	.menu_bar span {
		float:left;
		font-size:40px;
	}